.topBar {
    background-color: #fff;
    height: auto;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    position: sticky;
    top: 0;
    filter: drop-shadow(0 2px 2px #eee);
    z-index: 1;
}

.left {
    padding: 0.75rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(auto, max-content));
    align-items: center;
}

.right {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, max-content));
    justify-content: right;
    align-items: center;
}

.entries {
    color: #9e9e9e;
}
