.modal {
    background-color: #fff;
    max-height: 80vh;
    height: 25vh;
    width: 25vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
}
