.overlay {
    background: linear-gradient(90deg,
				rgba(255, 255, 255, 0.5),
				rgba(15, 17, 37, 0.9));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
