.view {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.menu {
    background-color: #000;
    border-left: 1px solid #18192b;
}

.content {
    overflow: auto;
}
