._index__index {
    display: grid;
    grid-template-columns: auto 1fr;
    height: calc(100% - 51px);
    overflow: hidden;
}
html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Monospace';
}

.material-icons {
    vertical-align: middle;
}

.container {
    max-width: 1080px;
    margin: auto;
    padding: 0 0.5rem;
}

.cursor {
    cursor: pointer;
}

ul {
    margin: 0;
}

.cl-1 {
    display: grid;
    grid-template-columns: auto;
}

.cl-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cl-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.w-gap {
    grid-gap: 0.75rem;
}

.section {
    margin-top: 2rem;
}
._Navbar__navbar {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-bottom: 1px solid #eee;
}

._Navbar__logo {
    display: grid;
    justify-items: left;
}

._Navbar__logo ul {
    list-style: none;
    padding: 0;
}

._Navbar__logo ul li {
    display: inline-block;
    padding: 0 0.75rem;
    cursor: pointer;
}

._Navbar__logo a {
    text-decoration: none;
    color: #9e9e9e;
}

._Navbar__logo a:hover {
    color: #0f1125;
}

._Navbar__list,
._Navbar__mobileList {
    display: grid;
    justify-items: right;
}

._Navbar__list > ul,
._Navbar__mobileList > ul {
    list-style: none;
    padding: 0;
}

._Navbar__list > ul > li,
._Navbar__mobileList > ul > li {
    display: inline-block;
    color: #9e9e9e;
    cursor: pointer;
    position: relative;
}

._Navbar__list > ul > li > a,
._Navbar__mobileList > ul > li > a,
._Navbar__list > ul > li > span,
._Navbar__mobileList > ul > li > span {
    padding: 0 0.75rem;
    display: block;
}

._Navbar__list > ul > li:hover > a,
._Navbar__mobileList > ul > li:hover > a,
._Navbar__list > ul > li:hover > span,
._Navbar__mobileList > ul > li:hover > span {
    color: #0f1125;
}

._Navbar__list > ul > li > a {
    text-decoration: none;
    color: #9e9e9e;
}

@media (max-width: 600px) {
    ._Navbar__list {
	display: none;
    }
    ._Navbar__mobileList {
	display: grid;
    }
}
._Authentication__authentication {
    height: 100%;
    background: linear-gradient(90deg, #0f1125, #18192b);
    display: grid;
    align-items: center;
    justify-items: center;
}

._Authentication__container {
    width: 20vw;
}

._Authentication__title {
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}
._Customers__customers {
    background-color: #eee;
    overflow: auto;
}
._Menu__menu {
    background-color: #0f1125;
    width: 15vw;
    overflow: auto;
}

._Menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

._Menu__li {
    padding: 2rem;
    color: #fff;
    border-bottom: 1px solid #18192b;
}

._Menu__li:hover {
    background-color: #18192b;
    cursor: pointer;
}

._Menu__li i {
    margin-right: 1rem;
}

._Menu__active {
    border-left: 5px solid #99b965;
    color: #99b965;
}
._Authentication_Join__join > div {
    text-align: center;
}

._Authentication_Join__join > div:not(:last-of-type) {
    margin-bottom: 1rem;
}
._Authentication_Login__login > div {
    text-align: center;
}

._Authentication_Login__login > div:not(:last-of-type) {
    margin-bottom: 1rem;
}
._Customers_List__list {
    
}
._Customers_Create__create {
    
}
._Components_Modal__modal {
    background-color: #fff;
    max-height: 90vh;
    max-width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    /* border-radius: 30px; */
}

._Components_Modal__header {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 0.75rem;
    border-bottom: 1px solid #e0e0e0;
    filter: drop-shadow(0 2px 2px #eee);
    z-index: 1;
}

._Components_Modal__content {
    padding: 0.75rem;
}

._Components_Modal__footer {
    background-color: #fff;
    position: sticky;
    bottom: 0;
    padding: 0.75rem;
    border-top: 1px solid #e0e0e0;
}

._Components_Modal__test {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.75rem;
}

._Components_Modal__test1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.75rem;
}
._Customers_View__view {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

._Customers_View__menu {
    background-color: #000;
    border-left: 1px solid #18192b;
}

._Customers_View__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

._Customers_View__li {
    padding: 2rem;
    color: #fff;
    border-bottom: 1px solid #18192b;
}

._Customers_View__li:hover {
    background-color: #18192b;
    cursor: pointer;
}

._Customers_View__li i {
    margin-right: 1rem;
}

._Customers_View__active {
    border-left: 5px solid #99b965;
    color: #99b965;
}

._Components_Button__button {
    display: inline-block;
    border: none;
    cursor: pointer;
}

._Components_Button__basic {
    background-color: #000;
    color: #fff;
    height: 4rem;
    width: 100%;
    padding: 0rem 2rem;
    text-transform: uppercase;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

._Components_Button__basic:hover {
    background-color: #212121;
}


._Components_Button__round {
    background-color: unset;
    padding: 0.5rem;
    border-radius: 50%;
    transition: background-color 0.5s linear;
}

._Components_Button__round:hover {
    background-color: #eee;
    transition: background-color 0.5s linear;
}
._Components_Panel__panel {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 2px #212121;
}
._Forms_Input__input {
    background-color: #fff;
    height: 4rem;
    width: 100%;
    /*padding: 0 1rem;*/
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 2px 2px #e0e0e0;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

._Forms_Input__inputDisabled {
    background-color: rgba(238, 238, 238, 0.6);
    cursor: not-allowed;
}

._Forms_Input__input:after {
    content: '';
    background-color: #0f1125;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0.2s ease-out;
}

._Forms_Input__input:focus-within:after {
    width: 100%;
    transition: width 0.2s ease-out;
}

._Forms_Input__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    color: #0f1125;
    transition: all 0.25s ease-out;
    pointer-events: none;
}

._Forms_Input__labelActive {
    top: 22%;
    font-size: 10.5px;
}

._Forms_Input__label i {
    margin-right: 0.5rem;
}

._Forms_Input__input:focus-within ._Forms_Input__label {
    top: 22%;
    font-size: 10.5px;
    transition: all 0.25s ease-out;
}

._Forms_Input__input input[type="text"],
._Forms_Input__input input[type="number"],
._Forms_Input__input input[type="password"],
._Forms_Input__input input[type="email"] {
    background-color: transparent;
    padding: 0 1rem;
    border: none;
    height: 100%;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

._Forms_Input__input input:disabled {
    cursor: not-allowed;
}

._Forms_Input__input input:focus {
    outline: none;
}

._Forms_Input__input input:invalid {
    color: red;
}
._Forms_FormErrors__formErrors {
    
}
._Components_Overlay__overlay {
    background: linear-gradient(90deg,
				rgba(255, 255, 255, 0.5),
				rgba(15, 17, 37, 0.9));
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
}
._Customers_List_Content__table {
    width: 100%;
    border-spacing: 1px;
}

._Customers_List_Content__table thead {
    background-color: #fff;
}

._Customers_List_Content__table tbody {
    background-color: #fff;
}

._Customers_List_Content__table thead tr th {
    background-color: #fff;
    padding: 0.75rem;
    text-align: center;
    position: sticky;
    top: calc(0.75rem * 2 + 0.5rem * 2 + 25.5px);
    filter: drop-shadow(0 2px 2px #eee);
}

._Customers_List_Content__table tbody tr td {
    padding: 0.75rem;
    text-align: center;
}

._Customers_List_Content__table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
._Customers_List_TopBar__topBar {
    background-color: #fff;
    height: auto;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    position: sticky;
    top: 0;
    filter: drop-shadow(0 2px 2px #eee);   
}

._Customers_List_TopBar__left {
    padding: 0.75rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(auto, max-content));
    align-items: center;
}

._Customers_List_TopBar__right {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, max-content));
    justify-content: right;
    align-items: center;
}

._Customers_List_TopBar__entries {
    color: #9e9e9e;
}
._Customers_Create_TopBar__topBar {
    background-color: #fff;
    height: auto;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    position: sticky;
    top: 0;
    filter: drop-shadow(0 2px 2px #eee);
    z-index: 1;
}

._Customers_Create_TopBar__left {
    padding: 0.75rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, minmax(auto, max-content));
    align-items: center;
}

._Customers_Create_TopBar__right {
    padding: 0.75rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, max-content));
    justify-content: right;
    align-items: center;
}

._Customers_Create_TopBar__entries {
    color: #9e9e9e;
}
._Customers_Create_Content__content span {
    padding: 1rem;
    display: block;
}

._Customers_Create_Content__input {
    display: grid;
    grid-auto-flow: column;
}
._Authentication_PasswordChange__passwordChange > div {
    text-align: center;
}

._Authentication_PasswordChange__passwordChange > div:not(:last-of-type) {
    margin-bottom: 1rem;
}
